nav{
    text-align: center;
    padding: 1rem;
    margin: .5rem .5rem;
    border-radius: .5rem .5rem 0 0;
    background-color: rgb(226, 65, 92);
    width: calc(100% - 1rem);
}

.nav--content{
    color: whitesmoke;

}